@media (min-width : 300px) and (max-width : 600px) {

   @import url('https://fonts.googleapis.com/css2?family=Karla:ital@1&display=swap');
    
   @import url('https://fonts.googleapis.com/css2?family=Karla:ital@1&family=Rubik:ital@0;1&display=swap');

    body {
        background: #E5E5E5;
        font-family: 'Karla';
    }

    .menu {
        display: flex;
        justify-content: flex-end;
        margin-top: 11px;
        margin-left: 35px;
        gap: 2px;
        &:hover {
            cursor: pointer;
        }
    }

    .shades {
        font-family: 'Rubik';
    }

    div.bloc1 {
       
        text-align: center;
        
        p.services {
            
            font-family: 'Karla';
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 12px;
            
            letter-spacing: 2.8125px;
            text-transform: uppercase;
            
            color: #666666;
        }

        h1 {
            font-style: normal;
            font-weight: bold;
            font-size: 40px;
            line-height: 45px;
            
            letter-spacing: -4px;

            color: #1F1F1F;
        }

        p {
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 12px;
            
            letter-spacing: -0.32381px;

            color: #878B90;
        }

        .enter-mail {
            padding-bottom: 20px;
            & input {
                border-radius: 5px;
                padding: 7px 7px 7px 7px;
                border: 1px;
            }
            align-content: space-between;
            & button {
                background-color: #FC593B;
                border-radius: 5px;
                color: white;
                padding: 7px 28px 7px 28px;
                border: 1px;
            }
            & button :hover {
                cursor: pointer;
            }
        }
    }

}




